$page-transition-duration: .4s;
$--login-animation-duration: .45s;

.login-enter-active {
  transition: all $--login-animation-duration ease-out;
}

.login-leave-active {
  opacity: 0;
}

.login-enter-from,
.login-leave-to {
  transform: translateX(-100px);
  opacity: 0;
}


.sub-enter-active,
.sub-leave-active {
  height: calc(100% - 2*var(--el-main-padding)) !important;
  width: calc(100% - 2*var(--el-main-padding)) !important;
  will-change: transform;
  backface-visibility: hidden;
  position: absolute;
  transition: all $page-transition-duration var(--el-transition-function-ease-in-out-bezier);
}

.sub-enter-from,
.sub-leave-to {
  opacity: 0;
  transform: translate3d(-10%, -10%, 0);
}